---
layout: default
title: Sera - OnePage Multi-Purpose Theme
---

{% comment %}{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span> is your last template theme ever!" button-text="Buy Now" %}{% endcomment %}

{% comment %}{% include sections/about.html %}{% endcomment %}

{% include sections/portfolio.html %}

{% comment %}{% include sections/parallax-features.html %}{% endcomment %}

{% include sections/features.html %}

{% comment %}{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span> is here, download now!" button-text="Buy Now" %}{% endcomment %}

{% comment %}{% include sections/testimonials.html %}{% endcomment %}

{% include sections/blog.html %}

{% comment %}{% include sections/team.html %}{% endcomment %}

{% comment %}{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span>, a new generation of themes!" button-text="Buy Now" %}{% endcomment %}

{% comment %}{% include sections/prices.html %}{% endcomment %}

{% comment %}{% include sections/contact.html %}{% endcomment %}

{% comment %}{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span> is here, download now!" button-text="Buy Now" %}{% endcomment %}
